body {
    background: black;
    color: navajowhite;
    font-family:  Garamond, Roboto, "Sabon", serif;
}

h1, h2, h3 {
    font-family: fantasy ;
}

code {
    font-family: "JetBrains Mono", monospace;
}

table.tableblock {
    font-family: "JetBrains Mono", monospace;
}
